@{
    ViewData["Title"] = "Home Page";
}

@model CustomOrderModel

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .center {
            max-width: 65%;
            margin: auto;
        }

        .noBotMargin {
            margin-bottom: 0px;
        }

        .topMarg {
            margin-top: 30px;
        }

        .baker {
            font-size: 18px;
        }
    </style>

</head>

<body>

    <div class="center">
        <div class="shadow-lg p-4 mb-4" id="marg">

            <div class="text-center" id="orderHeader">
                <h1 class="display-4">Order Delicious Bakes Here!</h1>
                <p class="baker">Click the Baker in the bottom right for help customizing.</p>
            </div>

            <form asp-controller="CustomOrder" asp-action="Details" method="post">
                <div class="form" id="formWidth">

                    <input asp-for="Bake" value="@Model.Bake" type="hidden" />
                    <input asp-for="Flavor" value="@Model.Flavor" type="hidden" />
                    <input asp-for="Frosting" value="@Model.Frosting" type="hidden" />
                    <input asp-for="FillFlavor" value="@Model.FillFlavor" type="hidden" />

                    <h2 class="noBotMargin">Bake Type: @Model.Bake</h2>
                    <h2 class="noBotMargin">Flavor: @Model.Flavor</h2>

                    @if (@Model.Frosting != null)
                    {
                        <h2 class="noBotMargin">Frosting: @Model.Frosting</h2>
                    }
                    @if (@Model.FillFlavor != null)
                    {
                        <h2 class="noBotMargin">Filling: @Model.FillFlavor</h2>
                    }
                <div class="topMarg">

                    <div class="row3">
                        <div class="form-inline">
                            <label for="Size">Date Requested By:</label>
                            <span class="tab"></span>
                            <input asp-for="DueDate" class="form-control" type="datetime-local" id="dueDate"
                                   name="DueDate" value=DateTime.Today
                                   min="DateTime.Today+3" max="2024-12-01T00:00">
                        </div>
                    </div>

                    <div class="row3">
                        <div class="form-inline">
                            <label for="Size">Size/Quatity*:</label>
                            <span class="tab"></span>
                            <input asp-for="Size" class="form-control" placeholder="Enter Amount" id="size">
                        </div>
                    </div>
                    <div class="row3">
                        <p><span class="tab"></span>*@ViewData["Sizing"]</p>
                    </div>

                    <div class="row3">
                        <div class="form-inline">
                            <label for="Size">First Name:</label>
                            <span class="tab"></span>
                            <input asp-for="CustomerFirstName" class="form-control" placeholder="Enter Your Name" id="costumerName">
                        </div>
                        <p></p>
                        <div class="form-inline" style="margin-left: 30px">
                            <label for="Size">Last Name:</label>
                            <span class="tab"></span>
                            <input asp-for="CustomerLastName" class="form-control" placeholder="Enter Your Name" id="costumerName">
                        </div>
                    </div>

                    <div class="row3">
                        <div class="form-inline">
                            <label for="CustomerPhone">Phone Number:</label>
                            <span class="tab"></span>
                            <input asp-for="CustomerPhone" class="form-control" placeholder="Enter Your Phone Number" />
                        </div>
                    </div>

                    <div class="row3">
                        <div class="form-inline">
                            <label for="CustomerEmail">Email Address:</label>
                            <span class="tab"></span>
                            <input asp-for="CustomerEmail" class="form-control" placeholder="Enter Your Email Address" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="comment">Comments/Special Requests:</label>
                        <textarea asp-for="Comment" class="form-control" rows="5" id="comment"></textarea>
                    </div>

                    <div class="text-center">
                        <h3> Estimated Price for your order: $@Model.CalculatePrice()</h3>                        
                    </div>

                    <div class="text-center">
                        <h3> Click below to place your order! </h3>
                        <input type="submit" class="btn btn-info" id="betterButton" value="Order Now!" />
                    </div>

                </div>
                </div>
            </form>
        </div>


        <a class="helperBaker" asp-controller="Baker" asp-action="Index"><img src="/pics/Baker.png" alt="Baker" style="width:100%"></a>
    </div>

    <div>
        <br />
        <br />
        <br />
    </div>

</body>

<script>
    function setFilling() {
        var checkBox = document.getElementById("customCheck");
        var text = document.getElementById("fillingCheck");
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }

    function delay() {
        var x = document.getElementById("delayOne");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

 
</script>