@{
    ViewData["Title"] = "Home Page";
}

@model OrderModel

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .center {
            max-width: 65%;
            margin: auto;
        }
    </style>
</head>

<body>
    <div class="center">
        <div class="shadow-lg p-4 mb-4" id="marg">

            <div class="text-center" id="orderHeader">
                <h1 class="display-4">Order Delicious Bakes Here!</h1>
            </div>



            <form asp-controller="CustomOrder" asp-action="Form" method="post">
                <div class="form" id="formWidth">
                    <div class="form" id="delayTwo">
                        <div class="form-group">
                            <h2 style="margin-bottom:15px">Bake Type: @Model.bake</h2>
                            <h2><label asp-for="flavorOptions">Flavors:</label></h2>
                        </div>
                        @Html.DropDownListFor(m => m.flavor, Model.flavorOptions.Select(x => new SelectListItem(x, x)), "Select a Flavor", new { @class = "selector form-control" })
                        <br />
                    </div>

                    <input asp-for="bake" value="@Model.bake" type="hidden" />


                    @if (Model.bake == "Cake" || Model.bake == "Cupcake")
                    {
                        <div>                    
                            <div class="form-group">
                                <h2><label asp-for="Frosting"> Select Frosting Flavor:</label></h2>
                            </div>
                            @Html.DropDownListFor(m => m.Frosting, Model.FrostingList.Select(x => new SelectListItem(x, x)), "Select a Frosting", new { @class = "selector form-control" })
                        </div>

                        <br />
                    }

                    @if (Model.filling)
                    {
                        @if (Model.bake == "Cake" || Model.bake == "Cupcake")
                        {
                            <div class="custom-control custom-checkbox" style="margin: 20px 0px 10px;">
                                <input type="checkbox" class="custom-control-input" id="customCheck" name="fillingCheck" onclick="setFilling()">
                                <label class="custom-control-label" for="customCheck">Would you like to add a filling?</label>
                            </div>
                        }
                        else
                        {
                            <div class="custom-control custom-checkbox" style="margin: 20px 0px 10px;">
                                <input type="checkbox" class="custom-control-input" id="customCheck" name="fillingCheck" onclick="setFilling()" checked="checked">
                                <label class="custom-control-label" for="customCheck">Would you like to add a filling?</label>
                            </div>
                        }

                        <div id="fillingCheck">
                            <div class="form-group">
                                <h2><label asp-for="fillFlavor">Select Filling:</label></h2>
                            </div>
                            @Html.DropDownListFor(m => m.fillFlavor, Model.FillingList.Select(x => new SelectListItem(x, x)), "Select a Filling", new { @class = "selector form-control" })
                        </div>


                        <br />
                    }

                    <input type="submit" class="btn btn-info" id="betterButton" value="Next" />

                </div>
            </form>
        </div>
    </div>

    <div>
        <br />
        <br />
        <br />
    </div>

</body>

<script>
    function setFilling() {
        var checkBox = document.getElementById("customCheck");
        var text = document.getElementById("fillingCheck");
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }


</script>