@{
    ViewData["Title"] = "Home Page";
}

@model OrderModel

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .center {
            max-width: 65%;
            margin: auto;
        }

        .noBotMargin {
            margin-bottom: 0px;
        }

        .topMarg {
            margin-top: 30px;
        }
    </style>

</head>

<body>

    <div class="center">
        <div class="shadow-lg p-4 mb-4" id="marg">

            <div class="text-center" id="orderHeader">
                <h1 class="display-4">Order Delicious Bakes Here!</h1>
            </div>

            <form asp-controller="CustomOrder" asp-action="Details" method="post">
                <div class="form" id="formWidth">

                    <input asp-for="bake" value="@Model.bake" type="hidden" />
                    <input asp-for="flavor" value="@Model.flavor" type="hidden" />
                    <input asp-for="Frosting" value="@Model.Frosting" type="hidden" />
                    <input asp-for="fillFlavor" value="@Model.fillFlavor" type="hidden" />

                    <h2 class="noBotMargin">Bake Type: @Model.bake</h2>
                    <h2 class="noBotMargin">Flavor: @Model.flavor</h2>

                    @if (@Model.Frosting != null)
                    {
                        <h2 class="noBotMargin">Frosting: @Model.Frosting</h2>
                    }
                    @if (@Model.fillFlavor != null)
                    {
                        <h2 class="noBotMargin">Filling: @Model.fillFlavor</h2>
                    }
                <div class="topMarg">

                    <div class="row3">
                        <div class="form-inline">
                            <label for="Size">First Name:</label>
                            <span class="tab"></span>
                            <input asp-for="customerFirstName" class="form-control" placeholder="Enter Your Name" id="costumerName">
                        </div>
                        <div class="form-inline">
                            <label for="Size">Last Name:</label>
                            <span class="tab"></span>
                            <input asp-for="customerLastName" class="form-control" placeholder="Enter Your Name" id="costumerName">
                        </div>
                    </div>
                    <div class="row3">
                        <div class="form-inline">
                            <label for="Size">Date Requested By:</label>
                            <span class="tab"></span>
                            <input asp-for="dueDate" class="form-control" type="datetime-local" id="dueDate"
                                   name="DueDate" value=DateTime.Today
                                   min="DateTime.Today+3" max="2024-12-01T00:00">
                        </div>
                    </div>
                    <div class="row3">
                        <div class="form-inline">
                            <label for="Size">Size/Quatity*:</label>
                            <span class="tab"></span>
                            <input asp-for="size" class="form-control" placeholder="Enter Amount" id="size">
                        </div>
                    </div>
                    <div class="row3">
                        <p><span class="tab"></span>*@ViewData["Sizing"]</p>
                    </div>

                    <div class="form-group">
                        <label for="comment">Comments/Special Requests:</label>
                        <textarea asp-for="comment" class="form-control" rows="5" id="comment"></textarea>
                    </div>

                    <div class="text-center">
                        <h3> Click below to submit your order! </h3>
                        <input type="submit" class="btn btn-info" id="betterButton" value="Order Now!" asp-area="Details" asp-controller="CustomOrder" asp-action="OrderPlaced" />
                    </div>

                </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <br />
        <br />
        <br />
    </div>

</body>

<script>
    function setFilling() {
        var checkBox = document.getElementById("customCheck");
        var text = document.getElementById("fillingCheck");
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }

    function delay() {
        var x = document.getElementById("delayOne");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

</script>