@{
    ViewData["Title"] = "Home Page";
}

@model SetOrderListModel

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>

        .column3 {
            flex: 1;
            padding: 5px;
        }

        .row {
            display: flex;
            width: 100%;
        }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            margin-top: 20px;
            margin-bottom: 15px;
        }

        .centerRight {
            display: flex;
            justify-content: right;
            align-items: center;
            height: 60px;
        }

        .orderContainer {
            position: relative;
            width: 75%;
            margin-right: auto;
            margin-left: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            text-align: center;
            font-family: arial;
            padding: 15px;
            background-color: #eee6f5;
            border-radius: 25px;
            height: 500px;
        }

        .orderImage {
            opacity: 1;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            width: 65%;
            height: 65%;
            transition: .5s ease;
            backface-visibility: hidden;
            border-radius: 50%;
        }

        .price {
            color: grey;
            font-size: 22px;
        }

        .description {
            font-size: 18px;
        }

        .imageCon {
            display: block;
            position: relative;
        }

        .orderBtn {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
            background-color: #555;
            color: white;
            font-size: 16px;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        .orderContainer:hover .orderImage {
            opacity: 0.3;
        }

        .orderContainer:hover .orderBtn {
            opacity: 1;
        }

        .miniNavbar {
            overflow: hidden;
            background-color: #eee6f5;
            width: 100%;
            padding: 15px;
            font-size: 20px;
        }

        .miniNavbar a {
            float: left;
            display: block;
            color: #000000;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .hoverFix:hover {
            background: #ddd;
            color: black;
        }

        .miniNavbar .centerRight a {
            float: right;
            display: block;
            justify-content: right;
            align-items: center;
            color: white;
        }
        
    </style>

</head>

<body>

    <button onclick="topFunction()" id="topBtn" title="Go to top">Top</button>

    <div class="shadow-lg p-4 mb-4" id="marg">

        <div class="miniNavbar">
            <a class="hoverFix" href="#Cakes">Cakes</a>
            <a class="hoverFix" href="#Cookies">Cookies</a>
            <a class="hoverFix" href="#Cupcakes">Cupcakes</a>
            <a class="hoverFix" href="#Pastry">Pastries</a>
            <a class="hoverFix" href="#Holiday">Holiday</a>
            <a class="hoverFix" href="#Misc">Misc.</a>
            <div class="centerRight">
                <a asp-area="" asp-controller="CustomOrder" asp-action="Index" class="btn btn-info" role="button" id="betterButton">Custom Bake!!</a>
            </div>
        </div>

        <h1 class="center" id="Cakes">Cakes</h1>
        @for (int i = 0; i < Model.Cakes.Count; i+=3)
        {
            <div class="row">
                <div class="column3">
                    <div class="orderContainer">
                        <input type="number" name="id" id="id" value="@Model.Cakes[i].BakeID" hidden />
                        <div class="imageCon">
                            <img src="@Model.Cakes[i].ImgPath" class="orderImage">
                            <input class="orderBtn" id="order" type="button" value="Order Now!">
                        </div>
                        <h3>@Model.Cakes[i].BakeName</h3>
                        <p class="price">$@Model.Cakes[i].Price</p>
                        <p class="description">@Model.Cakes[i].Description</p>
                    </div>
                </div>

                <div class="column3">

                    @if (i+1 < Model.Cakes.Count)
                    {
                        <div class="orderContainer">
                            <input type="number" name="id" id="id" value="@Model.Cakes[i+1].BakeID" hidden />
                            <div class="imageCon">
                                <img src="@Model.Cakes[i+1].ImgPath" class="orderImage">
                                <input class="orderBtn" id="order" type="button" value="Order Now!">
                            </div>
                            <h3>@Model.Cakes[i+1].BakeName</h3>
                            <p class="price">$@Model.Cakes[i+1].Price</p>
                            <p class="description">@Model.Cakes[i+1].Description</p>
                        </div>
                    }
                </div>
                <div class="column3">
                    @if (i+2 < Model.Cakes.Count)
                    {

                        <div class="orderContainer">
                            <input type="number" name="id" id="id" value="@Model.Cakes[i+2].BakeID" hidden />
                            <div class="imageCon">
                                <img src="@Model.Cakes[i+2].ImgPath" class="orderImage">
                                <input class="orderBtn" id="order" type="button" value="Order Now!">
                            </div>
                            <h3>@Model.Cakes[i + 2].BakeName</h3>
                            <p class="price">$@Model.Cakes[i + 2].Price</p>
                            <p class="description">@Model.Cakes[i + 2].Description</p>
                        </div>
                    }
                </div>

            </div>
        }

        <h1 class="center" id="Cookies">Cookies</h1>
        @for (int i = 0; i < Model.Cookies.Count; i+=3)
        {
            <div class="row">
                <div class="column3">
                    <div class="orderContainer">
                        <input type="number" name="id" id="id" value="@Model.Cookies[i].BakeID" hidden />
                        <div class="imageCon">
                            <img src="@Model.Cookies[i].ImgPath" class="orderImage">
                            <input class="orderBtn" id="order" type="button" value="Order Now!">
                        </div>
                        <h3>@Model.Cookies[i].BakeName</h3>
                        <p class="price">$@Model.Cookies[i].Price</p>
                        <p class="description">@Model.Cookies[i].Description</p>
                    </div>
                </div>

                <div class="column3">

                    @if (i+1 < Model.Cookies.Count)
                    {
                        <div class="orderContainer">
                            <input type="number" name="id" id="id" value="@Model.Cookies[i+1].BakeID" hidden />
                            <div class="imageCon">
                                <img src="@Model.Cookies[i+1].ImgPath" class="orderImage">
                                <input class="orderBtn" id="order" type="button" value="Order Now!">
                            </div>
                            <h3>@Model.Cookies[i+1].BakeName</h3>
                            <p class="price">$@Model.Cookies[i+1].Price</p>
                            <p class="description">@Model.Cookies[i+1].Description</p>
                        </div>
                    }
                </div>
                <div class="column3">
                    @if (i+2 < Model.Cookies.Count)
                    {

                        <div class="orderContainer">
                            <input type="number" name="id" id="id" value="@Model.Cookies[i+2].BakeID" hidden />
                            <div class="imageCon">
                                <img src="@Model.Cookies[i+2].ImgPath" class="orderImage">
                                <input class="orderBtn" id="order" type="button" value="Order Now!">
                            </div>
                            <h3>@Model.Cookies[i+2].BakeName</h3>
                            <p class="price">$@Model.Cookies[i+2].Price</p>
                            <p class="description">@Model.Cookies[i+2].Description</p>
                        </div>
                    }
                </div>

            </div>
        }

        <h1 class="center" id="Cupcakes">Cupcakes</h1>
        @for (int i = 0; i < Model.Cupcakes.Count; i+=3)
        {
            <div class="row">
                <div class="column3">
                    <div class="orderContainer">
                        <input type="number" name="id" id="id" value="@Model.Cupcakes[i].BakeID" hidden />
                        <div class="imageCon">
                            <img src="@Model.Cupcakes[i].ImgPath" class="orderImage">
                            <input class="orderBtn" id="order" type="button" value="Order Now!">
                        </div>
                        <h3>@Model.Cupcakes[i].BakeName</h3>
                        <p class="price">$@Model.Cupcakes[i].Price</p>
                        <p class="description">@Model.Cupcakes[i].Description</p>
                    </div>
                </div>

                <div class="column3">

                    @if (i+1 < Model.Cupcakes.Count)
                    {
                        <div class="orderContainer">
                            <input type="number" name="id" id="id" value="@Model.Cupcakes[i+1].BakeID" hidden />
                            <div class="imageCon">
                                <img src="@Model.Cupcakes[i+1].ImgPath" class="orderImage">
                                <input class="orderBtn" id="order" type="button" value="Order Now!">
                            </div>
                            <h3>@Model.Cupcakes[i+1].BakeName</h3>
                            <p class="price">$@Model.Cupcakes[i+1].Price</p>
                            <p class="description">@Model.Cupcakes[i+1].Description</p>
                        </div>
                    }
                </div>
                <div class="column3">
                    @if (i+2 < Model.Cupcakes.Count)
                    {

                        <div class="orderContainer">
                            <input type="number" name="id" id="id" value="@Model.Cupcakes[i+2].BakeID" hidden />
                            <div class="imageCon">
                                <img src="@Model.Cupcakes[i+2].ImgPath" class="orderImage">
                                <input class="orderBtn" id="order" type="button" value="Order Now!">
                            </div>
                            <h3>@Model.Cupcakes[i+2].BakeName</h3>
                            <p class="price">$@Model.Cupcakes[i+2].Price</p>
                            <p class="description">@Model.Cupcakes[i+2].Description</p>
                        </div>
                    }
                </div>

            </div>
        }

        <h1 class="center" id="Pastry">Pastries</h1>
        @for (int i = 0; i < Model.Pastry.Count; i+=3)
        {
            <div class="row">
                <div class="column3">
                    <div class="orderContainer">
                        <input type="number" name="id" id="id" value="@Model.Pastry[i].BakeID" hidden />
                        <div class="imageCon">
                            <img src="@Model.Pastry[i].ImgPath" class="orderImage">
                            <input class="orderBtn" id="order" type="button" value="Order Now!">
                        </div>
                        <h3>@Model.Pastry[i].BakeName</h3>
                        <p class="price">$@Model.Pastry[i].Price</p>
                        <p class="description">@Model.Pastry[i].Description</p>
                    </div>
                </div>

                <div class="column3">

                    @if (i+1 < Model.Pastry.Count)
                    {
                        <div class="orderContainer">
                            <input type="number" name="id" id="id" value="@Model.Pastry[i+1].BakeID" hidden />
                            <div class="imageCon">
                                <img src="@Model.Pastry[i+1].ImgPath" class="orderImage">
                                <input class="orderBtn" id="order" type="button" value="Order Now!">
                            </div>
                            <h3>@Model.Pastry[i+1].BakeName</h3>
                            <p class="price">$@Model.Pastry[i+1].Price</p>
                            <p class="description">@Model.Pastry[i+1].Description</p>
                        </div>
                    }
                </div>
                <div class="column3">
                    @if (i+2 < Model.Pastry.Count)
                    {

                        <div class="orderContainer">
                            <input type="number" name="id" id="id" value="@Model.Pastry[i+2].BakeID" hidden />
                            <div class="imageCon">
                                <img src="@Model.Pastry[i+2].ImgPath" class="orderImage">
                                <input class="orderBtn" id="order" type="button" value="Order Now!">
                            </div>
                            <h3>@Model.Pastry[i+2].BakeName</h3>
                            <p class="price">$@Model.Pastry[i+2].Price</p>
                            <p class="description">@Model.Pastry[i+2].Description</p>
                        </div>
                    }
                </div>

            </div>
        }

        <h1 class="center" id="Holiday">Holiday</h1>
        @for (int i = 0; i < Model.Holiday.Count; i+=3)
        {
            <div class="row">
                <div class="column3">
                    <div class="orderContainer">
                        <input type="number" name="id" id="id" value="@Model.Holiday[i].BakeID" hidden />
                        <div class="imageCon">
                            <img src="@Model.Holiday[i].ImgPath" class="orderImage">
                            <input class="orderBtn" id="order" type="button" value="Order Now!">
                        </div>
                        <h3>@Model.Holiday[i].BakeName</h3>
                        <p class="price">$@Model.Holiday[i].Price</p>
                        <p class="description">@Model.Holiday[i].Description</p>
                    </div>
                </div>

                <div class="column3">

                    @if (i+1 < Model.Holiday.Count)
                    {
                        <div class="orderContainer">
                            <input type="number" name="id" id="id" value="@Model.Holiday[i+1].BakeID" hidden />
                            <div class="imageCon">
                                <img src="@Model.Holiday[i+1].ImgPath" class="orderImage">
                                <input class="orderBtn" id="order" type="button" value="Order Now!">
                            </div>
                            <h3>@Model.Holiday[i+1].BakeName</h3>
                            <p class="price">$@Model.Holiday[i+1].Price</p>
                            <p class="description">@Model.Holiday[i+1].Description</p>
                        </div>
                    }
                </div>
                <div class="column3">
                    @if (i+2 < Model.Holiday.Count)
                    {

                        <div class="orderContainer">
                            <input type="number" name="id" id="id" value="@Model.Holiday[i+2].BakeID" hidden />
                            <div class="imageCon">
                                <img src="@Model.Holiday[i+2].ImgPath" class="orderImage">
                                <input class="orderBtn" id="order" type="button" value="Order Now!">
                            </div>
                            <h3>@Model.Holiday[i+2].BakeName</h3>
                            <p class="price">$@Model.Holiday[i+2].Price</p>
                            <p class="description">@Model.Holiday[i+2].Description</p>
                        </div>
                    }
                </div>

            </div>
        }

        <h1 class="center" id="Misc">Misc.</h1>
        @for (int i = 0; i < Model.Misc.Count; i+=3)
        {
            <div class="row">
                <div class="column3">
                    <div class="orderContainer">
                        <input type="number" name="id" id="id" value="@Model.Misc[i].BakeID" hidden />
                        <div class="imageCon">
                            <img src="@Model.Misc[i].ImgPath" class="orderImage">
                            <input class="orderBtn" id="order" type="button" value="Order Now!">
                        </div>
                        <h3>@Model.Misc[i].BakeName</h3>
                        <p class="price">$@Model.Misc[i].Price</p>
                        <p class="description">@Model.Misc[i].Description</p>
                    </div>
                </div>

                <div class="column3">

                    @if (i+1 < Model.Misc.Count)
                    {
                        <div class="orderContainer">
                            <input type="number" name="id" id="id" value="@Model.Misc[i+1].BakeID" hidden />
                            <div class="imageCon">
                                <img src="@Model.Misc[i+1].ImgPath" class="orderImage">
                                <input class="orderBtn" id="order" type="button" value="Order Now!">
                            </div>
                            <h3>@Model.Misc[i+1].BakeName</h3>
                            <p class="price">$@Model.Misc[i+1].Price</p>
                            <p class="description">@Model.Misc[i+1].Description</p>
                        </div>
                    }
                </div>
                <div class="column3">
                    @if (i+2 < Model.Misc.Count)
                    {

                        <div class="orderContainer">
                            <input type="number" name="id" id="id" value="@Model.Misc[i+2].BakeID" hidden />
                            <div class="imageCon">
                                <img src="@Model.Cakes[i+2].ImgPath" class="orderImage">
                                <input class="orderBtn" id="order" type="button" value="Order Now!">
                            </div>
                            <h3>@Model.Misc[i+2].BakeName</h3>
                            <p class="price">$@Model.Misc[i+2].Price</p>
                            <p class="description">@Model.Misc[i+2].Description</p>
                        </div>
                    }
                </div>

            </div>
        }

    </div>

    <script>
        //Get the button
        var mybutton = document.getElementById("topBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

        
        $(document).ready(function () {
            $("#order").click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/ShoppingCart/Add',
                    data: { id: $("#id").val() },
                    success: function (result) {
                        alert(result);
                    }
                });
            });                  
        })

    </script>

</body>