@{
    ViewData["Title"] = "Login";
}

@model Preference

<style>
    .column3 {
        flex: 1;
        padding: 5px;
    }

    .row {
        display: flex;
        width: 100%;
    }
    .orderContainer {
        position: relative;
        width: 75%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        font-family: arial;
        padding: 15px;
        background-color: #eee6f5;
        border-radius: 25px;
        height: 310px;
    }

    .orderImage {
        opacity: 1;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 65%;
        height: 65%;
        transition: .5s ease;
        backface-visibility: hidden;
        border-radius: 50%;
    }

    .price {
        color: grey;
        font-size: 22px;
    }

    .description {
        font-size: 18px;
    }

    .imageCon {
        display: block;
        position: relative;
    }

    .orderBtn {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        background-color: #555;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .size {
        color: grey;
        font-size: 18px;
    }

    .modal {
        z-index: 2000;
    }

    .modal-content {
        background-color: lightgreen;
    }

    .tab {
        display: none;
    }

    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

        .step.active {
            opacity: 1;
        }

    .betterBtn {
        border: 2px solid #008CBA;
        align-content: center;
    }

</style>

<body>

    <div class="modal p-0" id="popUp" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header  border-bottom-0">
                    <h4 class="modal-title">Bake Added to Cart!</h4>
                    <button type="button" class="close" onclick="document.getElementById('popUp').style.display='none'" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Don't forget to checkout!</h5>
                </div>
            </div>
        </div>
    </div>


    <div class="text-center" id="orderHeader">
        <h1 class="display-4">Bakes You'll Love!</h1>
    </div>

    @for (int i = 0; i < Model.Results.Count; i += 3)
    {
        @if (i % 6 == 0)
        {
            <div class="tab">
                <div class="row">
                    <div class="column3">
                        <div class="orderContainer">
                            <h3>@Model.Results[i].Title</h3>
                            <p class="price">@Model.Results[i].Price</p>
                            <p class="size">@Model.Results[i].Size</p>
                            <p class="description">@Model.Results[i].Description</p>
                            <button class="btn btn-info" onclick="addToCart(@Model.Results[i].ReciepeNumber)" id="betterButton">Order Now!</button>
                        </div>
                    </div>
                    <div class="column3">
                        @if (i + 1 < Model.Results.Count)
                        {
                            <div class="orderContainer">
                                <h3>@Model.Results[i + 1].Title</h3>
                                <p class="price">@Model.Results[i + 1].Price</p>
                                <p class="size">@Model.Results[i + 1].Size</p>
                                <p class="description">@Model.Results[i + 1].Description</p>
                                <button class="btn btn-info" onclick="addToCart(@Model.Results[i].ReciepeNumber)" id="betterButton">Order Now!</button>
                            </div>
                        }

                    </div>
                    <div class="column3">
                        @if (i + 2 < Model.Results.Count)
                        {
                            <div class="orderContainer">
                                <h3>@Model.Results[i + 2].Title</h3>
                                <p class="price">@Model.Results[i + 2].Price</p>
                                <p class="size">@Model.Results[i + 2].Size</p>
                                <p class="description">@Model.Results[i + 2].Description</p>
                                <button class="btn btn-info" onclick="addToCart(@Model.Results[i].ReciepeNumber)" id="betterButton">Order Now!</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        

        
    }

    <div style="overflow:auto; margin-top:20px;">
        <div style="text-align: center;">
            <button class="btn btn-info betterBtn" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button class="btn btn-info betterBtn" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
    </div>

    <div style="text-align:center;margin-top:40px;">
        @for (int i = 0; i < Model.Results.Count; i += 6)
            {
                <span class="step"></span>
            }
    </div>

    <script>
        function addToCart(bakeId) {
            $.ajax({
                type: 'POST',
                url: '/ShoppingCart/AddRecipe',
                data: { id: bakeId },
                success: function (result) {
                    $('#popUp').modal('show');
                }
            });
        };

        var currentTab = 0;
        showTab(currentTab);

        function showTab(n) {
            // This function will display the specified tab of the form ...
            var x = document.getElementsByClassName("tab");
            x[n].style.display = "block";
            // ... and fix the Previous/Next buttons:
            if (n == 0) {
                document.getElementById("prevBtn").style.display = "none";
            } else {
                document.getElementById("prevBtn").style.display = "inline";
            }
            if (n == (x.length - 1)) {
                document.getElementById("nextBtn").style.display = "none";
            } else {
                document.getElementById("nextBtn").innerHTML = "Next";
                document.getElementById("nextBtn").style.display = "inline";
            }
            // ... and run a function that displays the correct step indicator:
            fixStepIndicator(n)
        }

        function nextPrev(n) {
            // This function will figure out which tab to display
            var x = document.getElementsByClassName("tab");
            // Hide the current tab:
            x[currentTab].style.display = "none";
            // Increase or decrease the current tab by 1:
            currentTab = currentTab + n;
            // if you have reached the end of the form... :
            if (currentTab >= x.length) {
                //...the form gets submitted:
                return false;
            }
            // Otherwise, display the correct tab:
            showTab(currentTab);
        }

        function fixStepIndicator(n) {
            // This function removes the "active" class of all steps...
            var i, x = document.getElementsByClassName("step");
            for (i = 0; i < x.length; i++) {
                x[i].className = x[i].className.replace(" active", "");
            }
            //... and adds the "active" class to the current step:
            x[n].className += " active";
        }

    </script>


</body>
