@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AdminModel

<body>
    <h2>List of Orders:</h2>

    <h4>Custom Orders</h4>

    @for (int i = 0; i < Model.CustomOrderList.Count; i++)
    {
        <div class="card">
            <div class="card-header">
                <label asp-for="@Model.CustomOrderList[i].CustomBakeID">Order Number: </label>
                <input asp-for="@Model.CustomOrderList[i].CustomBakeID" readonly />
            </div>
            <div class="card-body">
                <label asp-for="@Model.CustomOrderList[i].Bake">Bake: </label>
                <input asp-for="@Model.CustomOrderList[i].Bake" readonly />
                <label asp-for="@Model.CustomOrderList[i].Flavor">Flavor: </label>
                <input asp-for="@Model.CustomOrderList[i].Flavor" readonly />
                <label asp-for="@Model.CustomOrderList[i].Frosting">Frosting: </label>
                <input asp-for="@Model.CustomOrderList[i].Frosting" readonly />
                <label asp-for="@Model.CustomOrderList[i].FillFlavor">Filling Flavor: </label>
                <input asp-for="@Model.CustomOrderList[i].FillFlavor" readonly />
                <label asp-for="@Model.CustomOrderList[i].Size">Size/Quantity: </label>
                <input asp-for="@Model.CustomOrderList[i].Size" readonly />
                <label asp-for="@Model.CustomOrderList[i].Comment">Comments: </label>
                <input asp-for="@Model.CustomOrderList[i].Comment" readonly />
                <label asp-for="@Model.CustomOrderList[i].CustomerFirstName">First Name: </label>
                <input asp-for="@Model.CustomOrderList[i].CustomerFirstName" readonly />
                <label asp-for="@Model.CustomOrderList[i].CustomerLastName">Last Name: </label>
                <input asp-for="@Model.CustomOrderList[i].CustomerLastName" readonly />
                <label asp-for="@Model.CustomOrderList[i].Date">Date Submitted: </label>
                <input asp-for="@Model.CustomOrderList[i].Date" readonly />
                <label asp-for="@Model.CustomOrderList[i].DueDate">Date Requested: </label>
                <input asp-for="@Model.CustomOrderList[i].DueDate" readonly />
            </div>
        </div>
    }
        
    <h4>Set Orders</h4>
    @foreach (DatabaseSetOrder s in Model.DBSet)
            {

            }

    </body>
