@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AdminModel

<body>
    <h2>List of Orders:</h2>

    
    @for (int i = 0; i < Model.CustomOrderList.Count; i++)
    {
        <div class="card">
            <div class="card-header">
                <label asp-for="@Model.CustomOrderList[i].CustomBakeID">Order Number: </label>
                <input asp-for="@Model.CustomOrderList[i].CustomBakeID" readonly />
            </div>
            <div class="card-body">
                <label asp-for="@Model.CustomOrderList[i].bake">Bake: </label>
                <input asp-for="@Model.CustomOrderList[i].bake" readonly />
                <label asp-for="@Model.CustomOrderList[i].flavor">Flavor: </label>
                <input asp-for="@Model.CustomOrderList[i].flavor" readonly />
                <label asp-for="@Model.CustomOrderList[i].Frosting">Frosting: </label>
                <input asp-for="@Model.CustomOrderList[i].Frosting" readonly />
                <label asp-for="@Model.CustomOrderList[i].filling">Filling: </label>
                <input asp-for="@Model.CustomOrderList[i].filling" readonly />
                <label asp-for="@Model.CustomOrderList[i].fillFlavor">Filling Flavor: </label>
                <input asp-for="@Model.CustomOrderList[i].fillFlavor" readonly />
                <label asp-for="@Model.CustomOrderList[i].size">Size/Quantity: </label>
                <input asp-for="@Model.CustomOrderList[i].size" readonly />
                <label asp-for="@Model.CustomOrderList[i].comment">Comments: </label>
                <input asp-for="@Model.CustomOrderList[i].comment" readonly />
                <label asp-for="@Model.CustomOrderList[i].customerFirstName">Name: </label>
                <input asp-for="@Model.CustomOrderList[i].customerFirstName" readonly />
                <label asp-for="@Model.CustomOrderList[i].customerLastName">Name: </label>
                <input asp-for="@Model.CustomOrderList[i].customerLastName" readonly />
                <label asp-for="@Model.CustomOrderList[i].date">Date Submitted: </label>
                <input asp-for="@Model.CustomOrderList[i].date" readonly />
                <label asp-for="@Model.CustomOrderList[i].dueDate">Date Requested: </label>
                <input asp-for="@Model.CustomOrderList[i].dueDate" readonly />
            </div>
        </div>
    }
        

    </body>
